html
{
	height: 100%;
	overflow: hidden;
}
body
{
	color: #fff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: sans-serif;
}
.logo{
	display: inline-block;
	margin-left: 10px;
}
.logo img {
	width: 200px;
	border-left: 4px solid #3B3C3E;
	border-right: 4px solid #3B3C3E;
	padding-left: 10px;
	padding-right: 10px;
	
}
.navigasi {
	background-color: #0071BC;
	padding: 30px;
	font-size:20px;
	width: 100%;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}
.navigasi input[name="search"]{
	border: 2px solid white;
	padding: 5px 10px 5px 15px;
	height: 30px;
	width: 15%;
	background-color:#0071BC00; 
	color: white;
	font-size: 15px;
	float: right;
	margin-top: 1.5%;
	margin-left: 1%;
}
.navigasi input[name="search2"]{
	border: 2px solid white;
	height: 45px;
	width: 8%;
	background-color:white; 
	color: #0071BC;
	font-size: 15px;
	float: right;
	margin-top: 1.5%;
	margin-right: 2%;
	margin-left: 1.5%;
	font-weight: bold;
	cursor: pointer;
}
.navigasi input:focus {
	background-color: white;
	color:#0071BC;
	border: 2px solid #2293DE;
}
.navigasi input::-webkit-input-placeholder {
	color: white;
}
.navigasi2 input {
	width: 20%;
	border-radius: 40px;
	font-size: 15px;
	background-color:white;
	color: #3B3C3E;
	border: none;
	padding: 8px 0px 8px 15px;
	z-index: -1;
	border: 3px solid #3B3C3E;
	float: right;
	margin-right: 5%;
	margin-top: -2px;
}
.cari {
	cursor: pointer;
	background-color: white;
	border: 3px solid #3B3C3E;
	border-radius:40px; 
	height: 25px;
	padding: 4px 8px 4px 8px;
	float: right;
	margin-top: -2px;
	margin-right: -22%;
}

.navigasi2 {
	background-color: #3B3C3E00;
	padding: 10px;
	font-weight: bold;
	width: 100%;
	height: 60px;
	top:0;
	position: sticky;
	z-index: 1;
	box-sizing: border-box;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: white;

}
.navigasi2 ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	float: left;
}
.navigasi2 ul li{
	list-style: none;
}
.navigasi2 ul li a {
	text-decoration: none;
	color: #3B3C3E;
	padding: 12px 30px;
	line-height: 38px;
	transition: .25s ease;
}
.navigasi2 a:hover {
	transition: .25s ease;
	border-bottom: 4px solid #3B3C3E;
	border-top: 4px solid #3B3C3E;
}
article
{
	text-align: center;
	box-sizing: border-box;
	height: 700px;
	padding: 450px 0 50px 0;
	position: relative;
	width: 100vw;
	z-index: -1;
	background-image: url(../gambar/1bg.jpg);
	background-size: cover;
	transform: translateZ(-1px) scale(2);
	letter-spacing: 10px;
}
article h1
{
	font-family: Schindler’s Font;
	font-size: 50px;
	margin-top: -200px;
}

.goshop {
	margin-left: 42%;
	background-color: #0071BC88;
	width: 13%;
	text-align: center;
	padding: 15px 20px 15px 20px;
	border:2px solid white;
	box-shadow: 3px 2px #0071BC;
}
.goshop a {
	text-decoration: none;
	color: white;
	letter-spacing: 3px;
	font-size: 20px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 3px 8px 3px 8px;
}
.contain {
	background-color: #0071BC;
	width: 100%;
	height:700px;
	box-sizing:border-box;
	padding: 0 50px 0 50px;
}
.contain h2[name="textp"]{
	position: relative;
	text-align: center;
	background-color: #0071BC;
	width: 15%;
	top:40px;
	left: 44%;
}
.promo {
	border-top:  5px solid white;
	border-bottom: 5px solid white;
	width: 100%;
	height:530px;
	box-sizing:border-box;
	padding: 30px 60px 30px 60px;
}
.border {
	border-left:  5px solid white;
	border-right: 5px solid white;
	width: 100%;
	height:450px;
}
.parallax {
	width: 100%;
	overflow-x: hidden;
	z-index: 1;
}
.info {
	background-color:#3b3c3e77;
	width: 24.5%;
	height:430px;
	box-sizing:border-box;
	float: right;
	position: relative;
	top:-437px;
	padding-top: 50px;
	border: 5px solid white;
	text-align: center;
	right:-0.2%;
	margin: 0;
}
.info a {
	text-decoration: none;
}
.info h3 {
	margin-left:22%; 
	width: 50%;
	padding: 10px 5px 10px 10px;
	letter-spacing: 3px;
	border: 3px solid white;
	border-right: 3px solid white;
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
	background-color:#0071BC;
}
.promo1 {
	position: relative;
	top:120px;
	left:-31%;
}
.promo2 {
	position: relative;
	top:120px;
	left:6.5%; 
}
.promo3 {
	position: relative;
	top:335px;
	left:-31%;
}
.promo4 {
	position: relative;
	top:335px;
	left:6.5%; 
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.card {
	cursor :pointer;
	width: 400px;
	height: 200px;
}
.front,.back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}
.front img {
	width: 100%;
	height: 100%;
}
.front {
	transform: perspective(800px) rotateY(0deg);
}
.back {
	background:#3b3c3e77;
	transform: perspective(800px) rotateY(180deg);
}
.back-content {
	color: white;
	text-align: center;
	width: 100%;
	border-top:5px solid white;
	border-bottom:5px solid white;
	padding-bottom: 20px;
}
.card:hover > .front {
	transform: perspective(800px) rotateY(-180deg);
}
.card:hover > .back {
	transform: perspective(800px) rotateY(0deg);
}
.article2 {
	text-align: center;
	position: relative;
	top: -40%;
	width: 100%;
	box-sizing: border-box;
	z-index: -1;
}
.article2 img{
	width: 100%;
}
.article2 h1{
	font-family: Schindler’s Font;
	font-size: 70px;
	margin-top: -40%;
	text-shadow: 2px 2px #3b3c3e;
}
.goabout a {
	background: #0071BC88;
	width: 20%;
	text-align: center;
	padding: 15px 20px 15px 20px;
	border:2px solid white;
	box-shadow: 3px 2px #0071BC;
	z-index: 10;
	text-decoration: none;
	color: white;
	letter-spacing: 3px;
	font-size: 20px;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
.footer {
	background-color: #3b3c3e;
	width: 100%;
	height:200px;
	box-sizing:border-box;
	padding: 0 50px 0 50px;
}
.footer h2[name="textf"]{
	position: relative;
	text-align: center;
	background-color: #3b3c3e;
	width: 15%;
	top:40px;
	left: 44%;
}
.footer2{
	border-top:  5px solid white;
	border-bottom: 5px solid white;
	width: 100%;
	height:130px;
	box-sizing:border-box;
	padding: 30px 60px 30px 60px;
	text-align: center;
}
.gambar {
	padding: 20px 10px 10px 10px;
	width: 5%;
	height: 50px;
	display: inline-block;
	margin-left: 5%;
}
.gambar:hover{
	border-radius: 100%;
	background-color:#0071bc; 
}
.cr {
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	background-color: #0071bc;
	padding: 10px;
}